.container{
    width: 100%;
    min-height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.termometer-data{
    font-size: 1.4rem;
    padding: 0.4rem;
}