@use '@angular/material' as mat;
@use './app/components/sidenav/sidenav.component-theme' as sidenav;
@include mat.core();

$darkBg: #222222;
$darkBody: #121212;
$darkFont: #FFFFFF;

$lightBg: #FFFFFF;
$lightBody: #FFFFFF;
$lightFont: #000000;

$light-theme: mat.define-light-theme((color: (
  primary: mat.define-palette(mat.$blue-palette, 600),
  accent: mat.define-palette(mat.$blue-palette, A200, A100, A400),
  warn: mat.define-palette(mat.$red-palette)
)));

$dark-theme: mat.define-light-theme((color: (
  primary: mat.define-palette(mat.$red-palette, 900),
  accent: mat.define-palette(mat.$red-palette, A700, 900, 900),
  warn: mat.define-palette(mat.$red-palette)
)));

@include mat.all-component-themes($dark-theme);
@include sidenav.theme($dark-theme);
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}



@media (prefers-color-scheme: light) {
  @include mat.all-component-themes($light-theme);
  @include sidenav.theme($light-theme);
  body {
    background-color: $lightBody;
  }

  .mat-card {
    border: solid rgba(0,0,0,0.4) 1px;
  }
  
  /*bgColor*/
  .mat-dialog-container, .mat-menu-content, .mat-menu-panel, .mat-card {
    background-color: $lightBg;
  }

  /*font*/
  .mat-input-element::placeholder, .mat-menu-item, .mat-dialog-container, .mat-menu-content, .mat-label, .mat-card, .mat-button {
    color:$lightFont !important;
  }
}

@media (prefers-color-scheme: dark) {
  @include mat.all-component-themes($dark-theme);
  body {
    background-color: $darkBody;
  }

  .mat-card {
    border: solid rgba(255,255,255,0.4) 1px;
  }
  
  /*bgColor*/
  .mat-dialog-container, .mat-menu-content, .mat-menu-panel, .mat-card {
    background-color: $darkBg;
  }
   
  /*font*/
  .mat-input-element::placeholder, .mat-menu-item, .mat-dialog-container, .mat-menu-content, .mat-label, .mat-card, .mat-button {
    color:$darkFont !important;
  }
}


.mat-drawer-inner-container{
  display: flex;
  flex-direction: column;
}