iHome/iHome/bin
iHome/iHome/obj
iHome/iHome/appsettings.json
iHome/.vs
iHome/iHome/Properties
iHome/iHome/.vs
iHome/ihome.frontend.react/node_modules
iHome/iHome.Frontend/src/assets/resources/data/appsettings.json
iHome/iHome.Mobile/obj
iHome/iHome.Mobile/bin
iHome/iHome.Core/bin
iHome/iHome.Core/obj
iHome/iHome.Mobile/appsettings.json
iHome/iHome.AzureFunctions/Properties
iHome/iHome.AzureFunctions/appsettings.json
iHome/iHome.AzureFunctions/appsettings.Development.json
iHome/iHome.Backend/.config
iHome/iHome.Backend/.vs
iHome/iHome.Backend/bin
iHome/iHome.Backend/obj
iHome/iHome.Backend/Properties
iHome/iHome.Backend/appsettings.json
iHome/iHome.WearOS/bin
iHome/iHome.WearOS/obj
src/iHome/.vs
src/iHome/iHome/Properties
src/iHome/Properties
src/iHome.Core/obj
src/.vs
src/iHome.Core/bin
src/iHome/appsettings.json
src/iHome.Microservices.Devices.Contract/bin
src/iHome.Microservices.Devices.Contract/obj
