iHome/iHome/bin
iHome/iHome/obj
iHome/iHome/appsettings.json
iHome/.vs
iHome/iHome/Properties
iHome/iHome/.vs
iHome/ihome.frontend.react/node_modules
iHome/iHome.Frontend/src/assets/resources/data/appsettings.json
