iHome/iHome/bin
iHome/iHome/obj
iHome/iHome/appsettings.json
iHome/.vs
iHome/iHome/Properties
iHome/iHome/.vs
iHome/ihome.frontend.react/node_modules
iHome/iHome.Frontend/src/assets/resources/data/appsettings.json
iHome/iHome.Mobile/obj
iHome/iHome.Mobile/bin
iHome/iHome.Core/bin
iHome/iHome.Core/obj
iHome/iHome.Mobile/appsettings.json
iHome/iHome.AzureFunctions/Properties
iHome/iHome.AzureFunctions/appsettings.json
iHome/iHome.AzureFunctions/appsettings.Development.json
iHome/iHome.Backend/.config
iHome/iHome.Backend/.vs
iHome/iHome.Backend/bin
iHome/iHome.Backend/obj
iHome/iHome.Backend/Properties
iHome/iHome.Backend/appsettings.json
iHome/iHome.WearOS/bin
iHome/iHome.WearOS/obj
src/iHome/.vs
src/iHome/iHome/Properties
src/iHome/Properties
src/iHome.Core/obj
src/.vs
src/iHome.Core/bin
src/iHome/appsettings.json
src/iHome.Microservices.Devices.Contract/bin
src/iHome.Microservices.Devices.Contract/obj
src/iHome.Devices.Contract/obj
src/iHome.Devices.ApiClient/obj
src/iHome.Devices.Contract/bin
src/iHome.Devices.ApiClient/bin
src/iHome/ClientApp/package-lock.json
src/iHome/ClientApp/.angular
src/iHome/ClientApp/.vscode
src/iHome/ClientApp/package-lock.json
src/iHome.Shared/bin
src/iHome.Shared/obj
src/iHome/ClientApp/src/environments/environment.prod.ts
src/iHome.Scheduler/obj
src/iHome.Infrastructure/obj
src/iHome.Infrastructure.Firebase/obj
src/iHome.Infrastructure.SQL/obj
src/iHome.Scheduler.Infrastructure/obj
src/iHome.Infrastructure.Firebase/bin
src/iHome.Infrastructure.SQL/bin
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
src/iHome.Scheduler/bin
src/iHome.Scheduler.Infrastructure/bin
src/iHome/ClientApp/yarn.lock
src/iHome.Infrastructure.Queue/obj
src/iHome.Scheduler/appsettings.json
src/iHome.Infrastructure.Queue/bin
src/iHome.EventsExecutor/bin
src/iHome.EventsExecutor/obj
src/iHome.EventsExecutor/appsettings.json
deprecated/iHome/.vs
deprecated/iHome/iHome.AzureFunctions/Properties
deprecated/iHome/iHome.Backend/bin
deprecated/iHome/iHome.Backend/obj
deprecated/iHome/iHome.Backend/appsettings.json
deprecated/iHome/iHome.Core/bin
deprecated/iHome/iHome.Core/obj
deprecated/iHome/iHome.WearOS/bin
deprecated/iHome/iHome.WearOS/obj
src/iHome.Infrastructure.OpenAI/bin
src/iHome.Infrastructure.OpenAI/obj
src/iHome.Core.Tests/bin
src/iHome.Core.Tests/obj
src/Microservices/RoomsManagement/iHome.Microservices.RoomsManagement/obj
src/Microservices/RoomsManagement/iHome.Microservices.RoomsManagement/Properties/launchSettings.json
src/Microservices/RoomsManagement/.vs
src/Microservices/RoomsManagement/iHome.Microservices.RoomsManagement/bin
src/Microservices/RoomsManagement/iHome.Microservices.RoomsManagement.Contract/bin
src/Microservices/RoomsManagement/iHome.Microservices.RoomsManagement.Contract/obj
src/Microservices/RoomsManagement/iHome.Microservices.RoomsManagement.Infrastructure/obj
src/Microservices/RoomsManagement/iHome.Microservices.RoomsManagement/appsettings.Development.json
src/Microservices/RoomsManagement/iHome.Microservices.RoomsManagement.Infrastructure/bin
src/Microservices/UsersApi/.vs
src/Microservices/UsersApi/iHome.Microservices.UsersApi.Infrastructure/obj
src/Microservices/UsersApi/iHome.Microservices.UsersApi.Infrastructure/bin
src/Microservices/UsersApi/iHome.Microservices.UsersApi.Contract/obj
src/Microservices/UsersApi/iHome.Microservices.UsersApi.Contract/bin
src/Microservices/UsersApi/iHome.Microservices.UsersApi/obj
src/Microservices/UsersApi/iHome.Microservices.UsersApi/bin
src/Microservices/UsersApi/iHome.Microservices.UsersApi/.vs
src/Microservices/UsersApi/iHome.Microservices.UsersApi/appsettings.Development.json
src/Microservices/UsersApi/iHome.Microservices.UsersApi/Properties/launchSettings.json
src/Microservices/UsersApi/iHome.Microservices.UsersApi/iHome.Microservices.UsersApi.csproj.user
src/Microservices/Widgets/.vs
src/Microservices/Widgets/iHome.Microservices.Widgets.Infrastructure/obj
src/Microservices/Widgets/iHome.Microservices.Widgets.Infrastructure/bin
src/Microservices/Widgets/iHome.Microservices.Widgets.Contract/obj
src/Microservices/Widgets/iHome.Microservices.Widgets.Contract/bin
src/Microservices/Widgets/iHome.Microservices.Widgets/obj
src/Microservices/Widgets/iHome.Microservices.Widgets/bin
src/Microservices/Widgets/iHome.Microservices.Widgets/.vs
src/Microservices/Widgets/iHome.Microservices.Widgets/Properties/launchSettings.json
src/Microservices/Widgets/iHome.Microservices.Widgets/appsettings.Development.json
src/Microservices/Widgets/iHome.Microservices.Widgets/iHome.Microservices.Widgets.csproj.user
src/Microservices/RoomsManagement/iHome.Microservices.RoomsManagement/iHome.Microservices.RoomsManagement.csproj.user
src/Microservices/OpenAI/.vs
src/Microservices/OpenAI/iHome.Microservices.OpenAI.Infrastructure/obj
src/Microservices/OpenAI/iHome.Microservices.OpenAI.Infrastructure/bin
src/Microservices/OpenAI/iHome.Microservices.OpenAI.Contract/obj
src/Microservices/OpenAI/iHome.Microservices.OpenAI/obj
src/Microservices/OpenAI/iHome.Microservices.OpenAI/bin
src/Microservices/OpenAI/iHome.Microservices.OpenAI/.vs
src/Microservices/OpenAI/iHome.Microservices.OpenAI/Properties/launchSettings.json
src/Microservices/OpenAI/iHome.Microservices.OpenAI.Contract/bin
src/Microservices/OpenAI/iHome.Microservices.OpenAI/iHome.Microservices.OpenAI.csproj.user
src/Microservices/OpenAI/iHome.Microservices.OpenAI/appsettings.Development.json
src/Microservices/Devices/iHome.Microservices.Devices/.vs
src/Microservices/Devices/iHome.Microservices.Devices/iHome.Microservices.Devices.Infrastructure/obj
src/Microservices/Devices/iHome.Microservices.Devices/iHome.Microservices.Devices.Infrastructure/bin
src/Microservices/Devices/iHome.Microservices.Devices/iHome.Microservices.Devices.Contract/obj
src/Microservices/Devices/iHome.Microservices.Devices/iHome.Microservices.Devices.Contract/bin
src/Microservices/Devices/iHome.Microservices.Devices/iHome.Microservices.Devices/obj
src/Microservices/Devices/iHome.Microservices.Devices/iHome.Microservices.Devices/bin
src/Microservices/Devices/iHome.Microservices.Devices/iHome.Microservices.Devices/appsettings.Development.json
src/Microservices/Devices/iHome.Microservices.Devices/iHome.Microservices.Devices/iHome.Microservices.Devices.csproj.user
src/Microservices/Devices/iHome.Microservices.Devices/iHome.Microservices.Devices/Properties/launchSettings.json
src/Microservices/Devices/iHome.Microservices.Devices/bin
src/Microservices/Devices/iHome.Microservices.Devices/obj
src/Microservices/Devices/iHome.Microservices.Devices.Contract/bin
src/Microservices/Devices/iHome.Microservices.Devices.Contract/obj
src/Microservices/Devices/iHome.Microservices.Devices.Infrastructure/bin
src/Microservices/Devices/iHome.Microservices.Devices.Infrastructure/obj
src/Microservices/Devices/iHome.Microservices.Devices/iHome.Microservices.Devices.csproj.user
src/Microservices/Devices/iHome.Microservices.Devices/appsettings.Development.json
src/Microservices/Devices/.vs
src/Microservices/Devices/iHome.Microservices.Devices/Properties/launchSettings.json
src/Microservices/Schedules/.vs
src/Microservices/Schedules/iHome.Microservices.Schedules.Infrastructure/obj
src/Microservices/Schedules/iHome.Microservices.Schedules.Contract/obj
src/Microservices/Schedules/iHome.Microservices.Schedules/obj
src/Microservices/Schedules/iHome.Microservices.Schedules/.vs
src/Microservices/Schedules/iHome.Microservices.Schedules/bin
src/Microservices/Schedules/iHome.Microservices.Schedules.Contract/bin
src/Microservices/Schedules/iHome.Microservices.Schedules.Infrastructure/bin
src/Microservices/Schedules/iHome.Microservices.Schedules/Properties/launchSettings.json
src/Microservices/Schedules/iHome.Microservices.Schedules/appsettings.Development.json
src/Microservices/Devices/iHome.Microservices.Devices/Properties/PublishProfiles/http___localhost_5000.pubxml.user
src/Jobs/iHome.Scheduler.Infrastructure/obj
src/Jobs/iHome.Scheduler.Infrastructure/bin
src/Jobs/iHome.Scheduler/obj
src/Jobs/iHome.Scheduler/bin
src/Jobs/iHome.Jobs.Events/iHome.Jobs.Events.Scheduler/obj
src/Jobs/iHome.Jobs.Events/iHome.Jobs.Events.Infrastructure/obj
src/Jobs/iHome.Jobs.Events/iHome.Jobs.Events.EventsExecutor/obj
src/Jobs/iHome.Jobs.Events/.vs
src/Jobs/iHome.EventsExecutor/obj
src/Jobs/iHome.EventsExecutor/bin
src/Jobs/iHome.Jobs.Events/iHome.Jobs.Events.Scheduler/appsettings.json
src/Jobs/iHome.Jobs.Events/iHome.Jobs.Events.EventsExecutor/appsettings.json
src/Jobs/iHome.Jobs.Events/iHome.Jobs.Events.EventsExecutor/bin
src/Jobs/iHome.Jobs.Events/iHome.Jobs.Events.Infrastructure/bin
src/Jobs/iHome.Jobs.Events/iHome.Jobs.Events.Scheduler/bin
src/Microservices/Devices/iHome.Microservices.Devices/Properties/PublishProfiles/http___192.168.8.2_5000.pubxml.user
src/Microservices/OpenAI/iHome.Microservices.OpenAI/Properties/PublishProfiles/http___192.168.8.2_5000.pubxml.user
src/Microservices/RoomsManagement/iHome.Microservices.RoomsManagement/Properties/PublishProfiles/http___192.168.8.2_5000.pubxml.user
src/Microservices/Schedules/iHome.Microservices.Schedules/Properties/PublishProfiles/http___192.168.8.2_5000.pubxml.user
src/Microservices/UsersApi/iHome.Microservices.UsersApi/Properties/PublishProfiles/http___192.168.8.2_5000.pubxml.user
src/Microservices/Widgets/iHome.Microservices.Widgets/Properties/PublishProfiles/http___192.168.8.2_5000.pubxml.user
src/Jobs/iHome.Jobs.Events/iHome.Jobs.Events.EventsExecutor/Properties/PublishProfiles/http___192.168.8.2_5000.pubxml.user
src/Jobs/iHome.Jobs.Events/iHome.Jobs.Events.Scheduler/Properties/PublishProfiles/http___192.168.8.2_5000.pubxml.user
src/Jobs/iHome.Jobs.Events/iHome.Jobs.Events.Scheduler/iHome.Jobs.Events.Scheduler.csproj.user
src/Jobs/iHome.Jobs.Events/iHome.Jobs.Events.EventsExecutor/iHome.Jobs.Events.EventsExecutor.csproj.user
src/Jobs/iHome.Jobs.Events/Nuget
*.user
src/Jobs/iHome.Jobs.Events/iHome.Jobs.Events.Scheduler.Tests/bin
src/Jobs/iHome.Jobs.Events/iHome.Jobs.Events.Scheduler.Tests/obj
src/Microservices/Authorization/.vs
src/Microservices/Authorization/iHome.Microservices.Authorization.Infrastructure/obj
src/Microservices/Authorization/iHome.Microservices.Authorization.Infrastructure/bin
src/Microservices/Authorization/iHome.Microservices.Authorization.Contract/obj
src/Microservices/Authorization/iHome.Microservices.Authorization.Contract/bin
src/Microservices/Authorization/iHome.Microservices.Authorization/obj
src/Microservices/Authorization/iHome.Microservices.Authorization/.vs
src/Microservices/Authorization/iHome.Microservices.Authorization/Properties
src/Microservices/Authorization/iHome.Microservices.Authorization/appsettings.Development.json
src/Microservices/Authorization/iHome.Microservices.Authorization/bin
src/Microservices/Devices/iHome.Infrastructure.Firestore/bin
src/Microservices/Devices/iHome.Infrastructure.Firestore/obj
src/iHome.Infrastructure.Firestore/bin
src/iHome.Infrastructure.Firestore/obj
src/Microservices/Schedules/iHome.Microservices.Schedules.Logic/bin
src/Microservices/Schedules/iHome.Microservices.Schedules.Logic/obj
src/Microservices/Schedules/iHome.Microservices.Schedules.Tests/bin
src/Microservices/Schedules/iHome.Microservices.Schedules.Tests/obj
src/iHome.Infrastructure.Cache/bin
src/iHome.Infrastructure.Cache/obj
src/iHome.Infrastructure.Cache.Extensions/bin
src/iHome.Infrastructure.Cache.Extensions/obj
src/iHome.Infrastructure.Cache.Tests/bin
src/iHome.Infrastructure.Cache.Tests/obj
src/Microservices/OpenAI/iHome.Microservices.OpenAI.Model/obj
src/Microservices/OpenAI/iHome.Microservices.OpenAI.Model/bin
src/iHome.Features.RoomsList/obj
src/iHome.Infrastructure/bin
src/iHome.Model/obj
src/iHome.Model/bin
src/iHome.Repository/bin
src/iHome.Repository/obj
src/iHome.Features.RoomsList/bin
src/iHome.Features.RoomSharing/bin
src/iHome.Features.RoomSharing/obj
src/iHome.Features.AddSchedule/obj
src/iHome.Features.SchedulesList/bin
src/iHome.Features.SchedulesList/obj
src/iHome.Features.AddSchedule/bin
