@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
    <head>
        <meta charset="utf-8">
        <title>iHome</title>
        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="styles.853b2ea3196e108b.css" media="print" onload="this.media='all'">
        <noscript>
            <link rel="stylesheet" href="styles.853b2ea3196e108b.css">
        </noscript>
    </head>
    <body>
        <app-root></app-root>
        <script src="runtime.4c1d1ba0170f41ad.js" type="module"></script>
        <script src="polyfills.86e7cb6be60846ab.js" type="module"></script>
        <script src="main.dacffe83880d0d63.js" type="module"></script>
    </body>
</html>