<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <link rel="stylesheet" href="~/Shared/css/bootstrap.min.css" />
        <script src="~/Scripts/js/bootstrap.min.js"></script>
        <script src="~/Scripts/js/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        @Html.Partial("Navbar")
        <div>
            @RenderBody()
        </div>
    </body>
</html>
