.room-card {
    background-color: var(--bs-body-card-bg);
    border-color: var(--bs-body-border);
    width: 100%;
    margin: 2vh 0;
}

.room-devices {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}

.card-title {
    text-align: center;
    font-weight:bold;
}
.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.device-card {
    background-color: var(--bs-body-bg);
    border-color: var(--bs-body-border);
    min-width: 15rem;
    min-height: 18rem;
    text-align: center;
    display: flex;
    margin: 2vh;
    position: relative;
}

.tab-content{
    width:100%;
   display: flex;
   justify-content: center;
}
.tab-content>.active{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid white 1px;
    padding:0.3rem;
}
.new-device-card {
    cursor: pointer;
}
.device-image {
    width: 15%;
    position: absolute;
    top: 0;
    right: 0;
}

.new-device-button-icon{
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
}
.card-body-content{
    width:100%;
}
.edit-room-section {
    display:flex;
    flex-direction:row;
    position: absolute;
    right: 0%;
    top: 0%;
}

.input-error-label {
    color: #dc3545;
}

.input-error {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
#links{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.new-device-info{
    width:50%;
    display:flex;
    flex-direction:row;
}

.new-device-address {
    display: flex;
    width: 75%;
    justify-content: center;
    align-items: center;
}

.new-device-image-container {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
}

.new-device-image-container img{
    width:100%;
    height:100%;
}
.setup-device-modal-container{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.spinner-visible{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50vh;
}
.invisible{
    display: none;
}
@media only screen and (max-width: 576px) {
    .device-image {
        width:10%;
    }
    .device-card{
        width:80%;
    }
    .room-devices {
        width:100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #rooms-container {
        text-align: center;
    }
}

