@if (isLoading()) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}

<div class="flex flex-col justify-center items-center">
  @for (room of rooms(); track room.id) {
    <app-room-row class="w-full" [room]="room"></app-room-row>
  }
</div>

<button class="!fixed bottom-2 left-2 action-button" mat-raised-button color="primary" routerLink="/schedules">
  Schedules
  <mat-icon>schedule</mat-icon>
</button>

<button class="!fixed bottom-2 right-2 action-button" mat-raised-button color="primary" (click)="composeAddRoomDialog()">
Add Room
<mat-icon>add_location</mat-icon>
</button>