<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
<div *ngIf="rooms$ | async as rooms; else loading" class="flex flex-col justify-center items-center">
  <div *ngFor="let room of rooms" class="p-4 w-full flex flex-row justify-between">
    <a class="flex flex-row items-center w-full" [routerLink]="'/rooms/' + room.id">
      <div class="w-14 h-14 m-4">
        <img class="rounded-full w-full h-full" src="https://www.thespruce.com/thmb/iMt63n8NGCojUETr6-T8oj-5-ns=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/PAinteriors-7-cafe9c2bd6be4823b9345e591e4f367f.jpg">
      </div>
      <div class="flex flex-col">
        <p>{{room.name}}</p>
        <small>{{room.user.name}}</small>
      </div>
    </a>

    <button mat-icon-button [matMenuTriggerFor]="actions">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #actions="matMenu">
      <button mat-menu-item (click)="composeShareRoomDialog(room)" [disabled]="(user | async)?.sub !== room.user.id">
        <mat-icon>share</mat-icon>
        Share
      </button>
      <button mat-menu-item (click)="removeRoom(room.id)" [disabled]="(user | async)?.sub !== room.user.id">
        <mat-icon>delete</mat-icon>
        Remove
      </button>
    </mat-menu>

  </div>
</div>

<div class="fixed bottom-0 w-full flex flex-row justify-between p-4">
  <button class="action-button" mat-raised-button color="primary" routerLink="/schedules">
      Schedules
      <mat-icon>schedule</mat-icon>
  </button>

  <button class="action-button" mat-raised-button color="primary" (click)="composeAddRoomDialog()">
    Add Room
    <mat-icon>add_location</mat-icon>
  </button>
</div>