<nav mat-tab-nav-bar mat-align-tabs="center">
  <ng-template #loading>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </ng-template>
  <div *ngIf="rooms$ | async as rooms; else loading">
    <a mat-tab-link *ngFor="let room of rooms" [routerLink]="'/rooms/' + room.id" [state]="room" routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive">
      <div>
        {{room.name}}
      </div>
      <button mat-icon-button [matMenuTriggerFor]="actions" (click)="$event.stopPropagation();$event.preventDefault()">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #actions="matMenu">
        <button mat-menu-item (click)="removeRoom(room.id)">
          <mat-icon>delete</mat-icon>
          Remove
        </button>
      </mat-menu>
    </a>
    <button mat-icon-button color="accent" (click)="composeAddRoomDialog()">
        <mat-icon>add</mat-icon>
    </button>
  </div>
</nav>

<app-room *ngIf="anyRoom"></app-room>
