<mat-card class="device-card"
    cdkDrag
    [cdkDragData]="device.id"
    [cdkDragDisabled]="!owner"
>
    <mat-card-title
        cdkDragHandle
        [ngClass]="{'grab': owner}"
    >
        {{device.name}}
    </mat-card-title>
    <mat-card-content>
        <div class="device-control">
            <app-rgbcontrol *ngIf="device?.type==DeviceType.RGBLamp" [device]=device></app-rgbcontrol>
            <app-termometer *ngIf="device?.type==DeviceType.Termometer" [device]=device></app-termometer>
        </div>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
</mat-card>