<mat-card class="device-card"
    cdkDrag
    [cdkDragData]="device.deviceId"
    [cdkDragDisabled]="!owner"
>
    <mat-card-title
        cdkDragHandle
        [ngClass]="{'grab': owner}"
    >
        {{device.deviceName}}
    </mat-card-title>
    <mat-card-content>
        <app-rgbcontrol *ngIf="device?.deviceType==1" [device]=device></app-rgbcontrol>
        <app-termometer *ngIf="device?.deviceType==2" [device]=device></app-termometer>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
</mat-card>