<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
<div *ngIf="schedules$ | async as schedules; else loading" class="schedules-container w-full sm:w-4/5 m-auto">
  <mat-accordion class="w-full p-4" multi *ngIf="devicesForScheduling$ | async as devicesForScheduling; else loading">
    <mat-expansion-panel *ngFor="let schedule of schedules">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon *ngIf="!schedule.runned" color="accent" class="rotate">
            loop
          </mat-icon>

          <mat-icon *ngIf="schedule.runned" color="primary">
            check_circle
          </mat-icon>

          <div class="ml-1">
            {{schedule.name}}
          </div>
        </mat-panel-title>
        <mat-panel-description class="flex justify-end !flex-grow">
          <div>{{getTimeFormatted(schedule.hour, schedule.minute)}}</div>
          <button mat-icon-button (click)="$event.stopPropagation();composeDialogRemoveSchedule(schedule.id, schedule.name)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-schedule class="w-full" [scheduleId]="schedule.id" [devicesForScheduling]="devicesForScheduling"></app-schedule>
    </mat-expansion-panel>
  </mat-accordion>
  <button mat-icon-button color="accent" (click)="composeDialogAddSchedule()">
    <mat-icon>add</mat-icon>
  </button>
</div>
