<mat-progress-bar mode="indeterminate" *ngIf="(isLoading$ | async) || (schedules$ | async) === null"></mat-progress-bar>

<div *ngIf="schedules$ | async as schedules" class="schedules-container w-full sm:w-4/5 m-auto">
  <mat-accordion class="w-full p-4" multi>
    <mat-expansion-panel *ngFor="let schedule of schedules">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon *ngIf="!schedule.runned" color="accent" class="rotate overflow-visible">
            loop
          </mat-icon>

          <mat-icon *ngIf="schedule.runned" color="primary" class="overflow-visible">
            check_circle
          </mat-icon>

          <div class="ml-1">
            {{schedule.name}}
          </div>
        </mat-panel-title>
        <mat-panel-description class="flex justify-end !flex-grow">
          <div>{{getTimeFormatted(schedule.hour, schedule.minute)}}</div>
          <button mat-icon-button (click)="$event.stopPropagation();composeDialogRemoveSchedule(schedule.id, schedule.name)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-schedule class="w-full" [scheduleId]="schedule.id" [devicesForScheduling]="devicesForScheduling$ | async"></app-schedule>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<button class="!fixed bottom-2 left-2 action-button" mat-raised-button color="primary" routerLink="/rooms">
  Rooms
  <mat-icon>room</mat-icon>
</button>

<button class="!fixed bottom-2 right-2 action-button" mat-raised-button color="primary" routerLink="/add-schedule">
  Add new schedule
  <mat-icon>alarm_add</mat-icon>
</button>