<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>

<ng-container *ngIf="schedule$ | async as schedule; else loading">

  <div class="flex flex-row items-center justify-between">
    <mat-form-field>
      <input matInput
             name="selected_time_B"
             [format]="24"
             [(ngModel)]="scheduleHour"
             [ngxMatTimepicker]="pickerB"
             readonly />
      <mat-icon matSuffix
                (click)="pickerB.open()">
          watch_later
      </mat-icon>
    </mat-form-field>
    <ngx-mat-timepicker
      color="accent"
      (timeSet)="hourChanged($event)"
      #pickerB></ngx-mat-timepicker>
  </div>

  <div *ngFor="let device of scheduleDevices$ | async; else loading" class="flex flex-row">
    <app-schedule-device [scheduleId]="schedule.id" [scheduleDevice]="device"></app-schedule-device>
  </div>

  <mat-divider></mat-divider>

  <div class="devices-for-scheduling-container">
    <ng-container *ngIf="devicesForScheduling as devices; else loading">
      <app-device-preview *ngFor="let device of devices"
        (click)="addDeviceSnapshot(device.id, device.data)"
        [deviceName]="device.name"
        [deviceData]="device.data ?? '{}'"
        [deviceType]="device.type">
      </app-device-preview>
    </ng-container>
  </div>

</ng-container>
