<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="internal" value="http://172.30.0.1:4999/nuget/Internal/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>