.widget{
    box-sizing: border-box;
    background-color: #BABABA;
    transition:  0.7s width, 0.7s border;
}

.widget-border{
    border: solid #777777 2px;
}

.small-widget {
    width: 25%;
}

.medium-widget {
    width: 50%;
}

.wide-widget {
    width: 100%;
}