<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <a mat-button routerLink="/" routerLinkActive="active" *ngIf="(auth.isAuthenticated$ | async) == false">
        iHome
    </a>
    <a mat-button routerLink="/rooms" routerLinkActive="active" *ngIf="auth.isAuthenticated$ | async">
        iHome
    </a>
    <span class="example-spacer"></span>
    <app-user-button></app-user-button>
</mat-toolbar>