@model ProfileModel
@{
    ViewData["Title"] = "Rooms";
}
<style>
    .roomCard{
        width:100%;
        margin:2vh 0;
    }
    .card-title{
        text-align:center;
    }
    #roomsContainer{
        text-align:center;
    }
    #waiting{
        /*display:none;*/
        position:relative;
        left:0;
        top:0;
        width:100%;
        height:70vh;
        /*background-color:rgba(0,0,0,0.5);*/
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>

<input type="button" onClick="loadRooms('@Model.Uuid')" value="Reload" />
<input type="button" onClick="addRoom('Pokoj','','','@Model.Uuid')" value="Dodaj" />
<div id="waiting">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<div id="roomsContainer">
    
</div>
<script src="~/js/roomsManagement.js"></script>
<script>loadRooms("@Model.Uuid");</script>