@using iHome.Models.Account
@model ProfileModel
@{
    ViewData["Title"] = "Rooms";
}
<div id="root"></div>
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/rooms.css" />
}
@section Scripts {
    <script src="~/js/rooms.js"></script>
}
