@using iHome.Models.Account
@model ProfileModel
@{
    ViewData["Title"] = "Rooms";
}
<link rel="stylesheet" type="text/css" href="~/css/rooms.css" />

<div id="root"></div>

@section Scripts {
    
}
<script src="~/js/rooms.js"></script>