<ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
    <button mat-button [matMenuTriggerFor]="menu">
        <img class="profile-picture" *ngIf="auth.user$ | async as user" src={{user.picture}}  matTooltip={{user.name}} />
    </button>
    <mat-menu #menu="matMenu">
        <mat-label *ngIf="auth.user$ | async as user">{{user.name}}</mat-label>
        <a mat-menu-item routerLink="/profile" routerLinkActive="active">
            Profile
        </a>
        <a mat-menu-item routerLink="/rooms" routerLinkActive="active">
            Rooms
        </a>
        <button mat-menu-item (click)="auth.logout({ returnTo: document.location.origin })">
            Log out
        </button>
    </mat-menu>
</ng-container>

<ng-template #loggedOut>
    <button mat-button (click)="auth.loginWithRedirect({
        appState: { target: '/rooms' }
      })">Log in</button>
</ng-template>