<div class="flex flex-col items-center justify-center w-full">
    <div class="flex flex-col items-center justify-center w-full" *ngIf="data$ | async as data">
        <button class="w-10 aspect-square" mat-button [style]="'background-color:' + getColor(data)"></button>
        <mat-slide-toggle [formControl]="stateControl" (change)="setLampState(data)">{{stateControl.value ? 'Enabled' : 'Disabled'}}</mat-slide-toggle>
    </div>
    <ng-template #loading>
        <mat-spinner mode="indeterminate" diameter="50"></mat-spinner>
    </ng-template> 
    <!-- <chrome-picker [control]="colorPickerControl"></chrome-picker>
    <mat-slide-toggle [formControl]="stateControl">{{stateControl.value ? 'Enabled' : 'Disabled'}}</mat-slide-toggle> -->
</div>