<div class="device">
  <div class="flex flex-row items-center justify-center">
    <h3>{{ device.name }}</h3>
    <!-- <button mat-icon-button (click)="removeFromWidget()">
            <mat-icon>delete</mat-icon>
        </button> -->
  </div>

  <app-rgb-lamp-preview *ngIf="device.type === type.RGBLamp" [showPointer]="true" [device]="device" (click)="composeDialog(device)"></app-rgb-lamp-preview>
  <app-thermometer-preview *ngIf="device.type === type.Thermometer" [device]="device"></app-thermometer-preview>
</div>
