<button mat-button *ngIf="(isAuthenticated | async) === false" (click)="login()">Login</button>

<div *ngIf="user | async as user">
    <button mat-button class="w-2 aspect-square" [matMenuTriggerFor]="menu">
        <img [src]="user.picture" class="rounded-full w-full" />
    </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="'/rooms'">
            Rooms
            <mat-icon>room</mat-icon>
        </button>
        <button mat-menu-item [routerLink]="'/schedules'">
            Schedules
            <mat-icon>schedule</mat-icon>
        </button>
        <button mat-menu-item (click)="logout()">
            Logout
            <mat-icon>exit_to_app</mat-icon>
        </button>
    </mat-menu>
</div>
