<h1 mat-dialog-title>{{device.name}}</h1>

<mat-dialog-content>
  <app-rgb-lamp *ngIf="device.type === type.RGBLamp" [formControl]="deviceDataControl" [value]="device.data"></app-rgb-lamp>

  <mat-expansion-panel hideToggle *ngIf="showSchedules">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Schedules
      </mat-panel-title>
      <mat-panel-description>
        List of schedules that affects device
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ngx-mat-timeline position="center" orientation="vertical" *ngIf="schedules$ | async as schedules; else loading">
      <ngx-mat-timeline-item *ngFor="let schedule of schedules" [label]="getScheduleTime(schedule)">
        <mat-icon *ngIf="!schedule.runned" color="accent" class="rotate">
          loop
        </mat-icon>

        <mat-icon *ngIf="schedule.runned" color="primary">
          check_circle
        </mat-icon>
        {{schedule.name}}
      </ngx-mat-timeline-item>
    </ngx-mat-timeline>
  </mat-expansion-panel>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="closeWithoutSaving()">Cancel</button>
  <button mat-raised-button color="primary" (click)="saveChanges()">Save</button>
</mat-dialog-actions>

<ng-template #loading>
  <mat-spinner mode="indeterminate" diameter="50"></mat-spinner>
</ng-template>
