::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
  min-width: 0!important;
 }

.color-wrapper{
  display: flex;
  justify-content: center;
  width: 100%;
}

.color-input{
    margin: 1rem;
    padding: 0px;
    border: none;
}

.color-input {
	border: none;
	width: 3rem;
	height: 3rem;
}

.color-input::-webkit-color-swatch-wrapper {
	padding: 0;
}

.color-input::-webkit-color-swatch {
	border: none;
}

.mat-dialog-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
}