<!-- <mat-drawer-container autosize>
    <button mat-raised-button color="primary" (click)="drawer.toggle()">
        Devices
        <mat-icon>add_to_home_screen</mat-icon>
    </button>

    <mat-drawer #drawer class="example-sidenav" mode="side">
        <p>Auto-resizing sidenav</p>
    </mat-drawer>
</mat-drawer-container> -->

<mat-sidenav-container>
    <mat-sidenav mode="side" class="example-sidenav" position="end"
        [fixedInViewport]="true" [(opened)]="opened">
        <div cdkDropList class="flex h-full flex-col">

          <app-device-preview *ngFor="let device of devices$ | async" cdkDrag [cdkDragData]="device"
            [deviceName]="device.name"
            [deviceType]="device.type"
            [deviceData]="device.data ?? '{}'"
          >
          </app-device-preview>
        </div>

    </mat-sidenav>
    <mat-sidenav-content>
        <button mat-raised-button color="primary" (click)="toggle();">
            Devices
            <mat-icon>add_to_home_screen</mat-icon>
        </button>
    </mat-sidenav-content>
</mat-sidenav-container>
