<div class="flex flex-col items-center justify-center">
    <div class="flex flex-col items-center" *ngIf="data$ | async as data; else loading">
        <div class="flex flex-row">
            <p class="value-field">{{formattedTemperature(data)}}</p> 
            <fa-icon size="sm" [icon]="faThermometer"></fa-icon>
        </div>
        <div class="flex flex-row">
            <p class="value-field">{{formattedPreassure(data)}}</p>
            <fa-icon size="sm" [icon]="faThermometer"></fa-icon>
        </div>
    </div>
    <ng-template #loading>
        <mat-spinner mode="indeterminate" diameter="50"></mat-spinner>
    </ng-template>
</div>
