<div class="flex flex-col text-lg" *ngIf="data$ | async as thermometerData; else loading">
    <div class="flex flex-row">
        <p class="value-field">{{formattedTemperature(thermometerData.temperature)}}</p> 
        <fa-icon size="lg" [icon]="faThermometer"></fa-icon>
    </div>
    <div class="flex flex-row">
        <p class="value-field">{{formattedPreassure(thermometerData.pressure)}}</p>
        <fa-icon size="lg" [icon]="faThermometer"></fa-icon>
    </div>
    
</div>
<ng-template #loading>
    <mat-spinner mode="indeterminate" diameter="50"></mat-spinner>
</ng-template>