<div [class]="widgetStyle + ' widget'">
    <button class="!absolute !top-0 !right-0" mat-icon-button [matMenuTriggerFor]="actions">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #actions="matMenu">
        <button mat-menu-item (click)="removeWidget()">
            <mat-icon>delete</mat-icon>
            Remove
        </button>
    </mat-menu>
    <ng-template #loading>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </ng-template>
    <div *ngIf="devices$ | async as devices; else loading" class="flex flex-row h-full" cdkDropList (cdkDropListDropped)="drop($event)">
        <app-device *ngFor="let device of devices" [widgetId]="widget.id" [device]="device"></app-device>
    </div>
</div>