<mat-expansion-panel hideToggle #lazyLoadSchedules>
  
  <mat-expansion-panel-header>
    <mat-panel-title>
      Schedules
    </mat-panel-title>
    <mat-panel-description class="!hidden sm:!flex">
      List of schedules that affects device
    </mat-panel-description>
  </mat-expansion-panel-header>

  @defer (on interaction(lazyLoadSchedules)) {
    <app-device-schedules-timeline [deviceId]="deviceId"></app-device-schedules-timeline> 
  } @loading {
    <mat-spinner mode="indeterminate" diameter="50"></mat-spinner>
  }
  
</mat-expansion-panel>