<h1 mat-dialog-title>{{device.name}}</h1>

<mat-dialog-content>
  <app-rgb-lamp *ngIf="device.type === type.RGBLamp" [formControl]="deviceDataControl" [value]="device.data"></app-rgb-lamp>
  <app-schedules-presentation *ngIf="showSchedules" [deviceId]="device.id"></app-schedules-presentation>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="closeWithoutSaving()">Cancel</button>
  <button mat-raised-button color="primary" (click)="saveChanges()">Save</button>
</mat-dialog-actions>

<ng-template #loading>
  <mat-spinner mode="indeterminate" diameter="50"></mat-spinner>
</ng-template>
