<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ihomedevice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e2a6ff31-143c-4186-932a-76a24d88190d/resourceGroups/ihomedevice_group/providers/Microsoft.Web/sites/ihomedevice</ResourceId>
    <UserName>$ihomedevice</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://ihomedevice.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>