<div class="rooms">
    <add-room></add-room>
    <mat-card class="room-card" *ngFor="let room of rooms" bgColor="primary">
        <mat-card-title>{{room.roomName}}</mat-card-title>
        <mat-card-subtitle>{{room.roomDescription}}</mat-card-subtitle>
        <mat-card-content>
            <div *ngIf="this.uuid == room.masterUuid" class="room-options">
                <app-share-list roomId={{room.roomId}}></app-share-list>
                <app-remove-room roomName={{room.roomName}} roomId={{room.roomId}}></app-remove-room>
            </div>
            <div *ngIf="this.uuid != room.masterUuid" class="room-options">
                <mat-icon fontIcon="share"
                    matTooltip="This room is shared to you by another user"
                ></mat-icon>
            </div>
            <app-device *ngFor="let device of room.devices" [device] = device></app-device>
        </mat-card-content>
        <mat-card-actions></mat-card-actions>
    </mat-card>
</div>