<div class="rooms" cdkDropListGroup>
    <div *ngIf="spinnerVisible" class="spinner-container">
        <mat-spinner diameter="70"></mat-spinner>
    </div>
	<mat-tab-group *ngIf="!spinnerVisible">
		<mat-tab *ngFor="let room of rooms" bgColor="primary">
			<ng-template mat-tab-label>
				<div class="tab-label">
					{{room.name}}
					<div *ngIf="this.uuid == room.ownerUuid" class="room-options">
						<mat-icon mat-button [matMenuTriggerFor]="menu">more_vert</mat-icon>
						<mat-menu #menu="matMenu">
							<app-share-list roomId={{room.id}}></app-share-list>
							<app-remove-room roomName={{room.name}} roomId={{room.id}}></app-remove-room>
						</mat-menu>
					</div>
					<div *ngIf="this.uuid != room.ownerUuid" class="room-options">
						<mat-icon fontIcon="share"
							matTooltip="This room is shared to you by another user"
						></mat-icon>
					</div>
				</div>
				
			</ng-template>
			
			<app-room [room]="room"></app-room>
		</mat-tab>
	</mat-tab-group>
</div>