<div cdkDropListGroup>
    <div class="flex justify-between m-4">
        <button mat-raised-button color="primary" (click)="composeAddWidgetDialog()">
            Add new widget
            <mat-icon>add_to_home_screen</mat-icon>
        </button>
        <app-devices-sidenav [roomId]="id"></app-devices-sidenav> 
    </div>
    <ng-template #loading>
        <div class="w-full flex items-center justify-center">
            <mat-spinner mode="indeterminate"></mat-spinner>
        </div>
    </ng-template>
    <div *ngIf="widgets$ | async as widgets; else loading" class="w-full flex flex-row flex-wrap items-center justify-center">
        <app-widget *ngFor="let widget of widgets" [widget]="widget"></app-widget>
    </div>
</div>